body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Elemente werden an beiden Enden des Containers ausgerichtet */
    align-items: center;
}

#welcome-message {
    font-size: 16px;
    margin-left: 50px; /* Verschiebt den "Angemeldet als"-Text 50px nach rechts */
}

button {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Verschiebt den Button 20px nach links */
}

button:hover {
    background-color: #d32f2f;
}

.content {
    text-align: center;
    margin-top: 20px;
}
